<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="500">
    <title>Graficas</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Responsive.css">
  </head>
  <body>
    <%- include(navbar) %>


    <div class = "l grafica1 grafica" id="CR">
      <script src="/js/Graficas/CoilR.js"></script>
    </div>
    <div class = "r grafica" id="OV">
      <script src="/js/Graficas/OpV.js"></script>
    </div>
    <div class = "l grafica" id="RV">
      <script src="/js/Graficas/ReV.js"></script>
    </div>
    <div class = "r grafica"id="SCR">
      <script src="/js/Graficas/SCRe.js"></script>
    </div>
    <div class = "l grafica" id="OT">
      <script src="/js/Graficas/OpT.js"></script>
    </div>
    <div class = "r grafica"id="RT">
      <script src="/js/Graficas/RelT.js"></script>
    </div>

    <div class="buttons dropdown col-5" >
      <select id = "select">
        <option value="CR">Coil Resistance</option>
        <option value="OV">Operate Voltage</option>
        <option value="RV">Release Voltage</option>
        <option value="OT">Operate Time</option>
        <option value="RT">Release Time</option>
        <option value="SCR">Static Contact Resistance</option>
      </select>
    </div>

    <div class="logom col-12">
      <a href="/"> <img src = "/assets/cotoLogoHeader.png" alt = "Logo"></a>
    </div>
    <%- include(footer) %>

    <script type="text/javascript">
        $(function(){
          if ($(window).width() < 768) {
            $('.grafica').css("visibility","visible");
            $('.grafica').hide();
            $('.grafica1').show();
            $("#select").change(function(){
              $('.grafica').hide();
              $('#'+ $(this).val()).show();
            });
          } else {
            $('.grafica').show();
            $('.grafica').css("visibility","visible");
          }
          $(window).resize(function(){
            if ($(window).width() < 768) {
              $('select option:contains("Coil Resistance")').prop('selected',true);
              $('.grafica').css("visibility","visible");
              $('.grafica').hide();
              $('.grafica1').show();
              $("#select").change(function(){
                $('.grafica').hide();
                $('#'+ $(this).val()).show();
              });
            } else {
              $('.grafica').css("visibility","visible");
              $('.grafica').show();
            }
          });
      });
    </script>
        <!-- <div class="footer col-12">
          <p>Footer</p>
        </div> -->
  </body>
</html>
