<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>File Selection Criteria</title>
	<link rel="stylesheet" href="stylesheets/filter.css">
</head>

<body>
	
	<div class="top_image">
		<img src="assets/cotoLogoHeader.png" alt="Home" align="middle">
	</div>

	<h1> File Selection Criteria</h1>

	<div class="fsbox">
		<div class="wrapper">
			<div class="div1">
				<p>Part number</p>
				<p>Application</p>
				<p>Filename</p>
				<p>Test date</p>
				<p>PLT number</p>
				<p>Date code</p>
				<p>Yield</p>
				<p>Min lot size</p>

			</div>
			<div class="div2">
				<p><input type="text" class="txt" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt2" placeholder="" name="" value="" /> <input type="text" class="txt2" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt2" placeholder="" name="" value="" /> <input type="text" class="txt2" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt2" placeholder="" name="" value="" /> <input type="text" class="txt2" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt2" placeholder="" name="" value="" /> <input type="text" class="txt2" placeholder="" name="" value="" /></p>
				<p><input type="text" class="txt" placeholder="" name="" value="" /></p>
			</div>
		</div>
		<div class="divbtn"><input class="btn" type="button" name="" value="OK" onclick="stuff()" /></div>
		


	</div>
		
	</div>
	<script>
		function stuff(){
			window.location.href="/summary"
		}
	</script>

</body>
</html>