<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>File Selection Criteria</title>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="stylesheets/materialize.css" />
    <link rel="stylesheet" href="stylesheets/materialize.min.css" />
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/filter.css" />

  </head>
  <body>
    <%- include(navbar) %>
    <div class="titlex border-bottom border-gray border-2 disappear-md" style="margin-bottom: 3rem;">
      <h1 class="text-dark">File Selection Criteria</h1>
    </div>

    <div class="wrap">
      <div class="container bg-gray-1" style="width: 95%; max-width: 40rem; padding: 2rem;">
        <form id="filter-form">
          <!-- Part No -->
          <div class="row">
            <div class="s12">
              <label for="dut_no" class="">Part Number</label>

              <input
                placeholder="0000-0000"
                type="text"
                id="dut_no" name="dut_no"
                class="autocomplete filter-group"
              />
            </div>
          </div>

          <!-- Application -->
          <div class="s12">
            <label>Application</label>

            <select id="application">
              <option value="" disabled selected>Choose your option</option>
                <option value="1">FINAL</option>
                <option value="2">CUSTOMER</option>
                <option value="3">INCOMING</option>
                <option value="4">PRETEST</option>
                <option value="5">RESET</option>
                <option value="6">SORT</option>
                <option value="7">SET</option>
            </select>
          </div>

          <!-- System -->
          <div class="s12">
            <label>Selection</label>
            <select id="selection">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">System 1</option>
              <option value="2">System 2</option>
              <option value="3">System 3</option>
              <option value="4">System 4</option>
              <option value="5">System 5</option>
            </select>
          </div>

          <!-- Test Date -->
          <div class="row">
            <label class="">Test date</label>
            <div class="row">
              <div class="col s5 p-0">
                <input
                  placeholder="yyyy-mm-dd"
                  id="date1" name="date1"
                  type="text"
                  class="datepicker filter-group"
                />
              </div>
              <div class="col s1 center-align" >
                <span>-</span>
              </div>
              <div class="col s6 p-0">
                <input
                  placeholder="yyyy-mm-dd"
                  id="date2" name="date2"
                  type="text"
                  class="datepicker filter-group"
                />
              </div>
            </div>
          </div>

          <!-- PLT Number -->
          <div class="row">
            <label class="">PLT number</label>
            <div class="row">
              <div class="col s5 p-0">
                <input placeholder="0" id="plt1" name="plt1" type="text" class="validate filter-group" />
              </div>
              <div class="col s1 center-align" >
                <span>-</span>
              </div>
              <div class="col s6 p-0">
                <input placeholder="0" id="plt2" name="plt2" type="text" class="validate filter-group" />
              </div>
            </div>
          </div>

          <!-- Datacode switch -->
          <div class="row">
            <label class="">Datacode Switch</label>
            <div class="row">
              <div class="col s5 p-0">
                <input placeholder="0" id="datecode_sw1" name="datecode_sw1" type="text" class="validate filter-group" />
              </div>
              <div class="col s1 center-align" >
                <span>-</span>
              </div>
              <div class="col s6 p-0">
                <input placeholder="0" id="datecode_sw2" name="datecode_sw2" type="text" class="validate filter-group" />
              </div>
            </div>
          </div>

          <!-- Datacode Relay -->
          <div class="row">
            <label class="">Datacode Relay</label>
            <div class="row">
              <div class="col s5 p-0">
                <input placeholder="0" id="datecode_rel1" name="datecode_rel1" type="text" class="validate filter-group" />
              </div>
              <div class="col s1 center-align" >
                <span>-</span>
              </div>
              <div class="col s6 p-0">
                <input placeholder="0" id="datecode_rel2" name="datecode_rel2" type="text" class="validate filter-group" />
              </div>
            </div>
          </div>

          <!-- Yield -->
          <div class="row">
            <label class="">Yield</label>
            <div class="row">
              <div class="col s5 p-0">
                <input placeholder="0" id="yield1" name="yield1" type="text" class="validate filter-group" />
              </div>
              <div class="col s1 center-align" >
                <span>-</span>
              </div>
              <div class="col s6 p-0">
                <input placeholder="0" id="yield2" name="yield2" type="text" class="validate filter-group" />
              </div>
            </div>
          </div>

          <!-- Min Lot Size -->
          <div class="row">
            <div class="s12">
              <label for="lot_size" class="">Min Lot Size</label>

              <input
                placeholder="0"
                type="number"
                id="lot_size" name="lot_size"
                class="autocomplete filter-group"
              />
            </div>
          </div>

          <!-- Submit Button -->
          <div class="submit center-align mt-2">
            <input
              class="btn w-75"
              type="submit"
              value="OK"
            />
          </div>

        </form>
      </div>
    </div>

    <%- include(footer) %>

    <script src=" /js/filter.js "></script>

  </body>
</html>
