<div class="footer-container" style="max-width: 100vw;">
    <div class="logom col-12" style="padding: 0;">
        <a  href="#" onclick="window.location='/' + window.location.search;"> <img src = "/assets/cotoLogoHeader.png" alt = "Logo"></a>
    </div>
    <div class="footer movil col-12" style="width: 100vw;">
        <p class = "COTO">©2019 COTO TECHNOLOGY. ALL RIGHTS RESERVED.</p>
        <p class = "design">DESIGNED BY:</p>
    </div>
</div>

<script>
    function startTime() {
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth();
        var months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
        var day = today.getDay();
        var days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
        var d = today.getDate();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);

        document.getElementById('datetime').innerHTML =
        days[day]+ "  " + months[month] + ",  " + d + "  " + h + ":" + m + " " + (h < 12 ? "AM":"PM");
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {
            i = "0" + i
        };  // add zero in front of numbers < 10
        return i;
    }
    startTime()
</script>