<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/general.css">
</head>
<body>
        <div class="general">
            <!-- <h1>Hello EJS World </h1> -->
            <h1>Pareto Failure Analysis</h1>
        </div>
        <div class="l" id="CR">
        </div>
        <div class="logom col-12">
            <a href="/"> <img src = "/assets/cotoLogoHeader.png" alt = "Logo"></a>
        </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"> </script>
    <script src="/js/chart.js"></script>
</body>
</html>