<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="500">
    <title>Movil</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <!--><link rel="stylesheet" type="text/css" href="slide.css"></!-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/Responsive.css">
    <style>
      .titled {
        text-align: center;
        background-color: #000000;
        color: #ffffff;
        font-size: 2em;
        font-family: Berlin Sans FB Demi;
        margin-bottom: 15px;
        margin-top: 15px
      }
      @media only screen and (max-width: 400px) {
        .titled {
          margin:0;
        }
      }
      @media only screen and (min-width: 470px){
        .titled {
          margin: 0;
          padding: 0;
        }
      }
      @media only screen and (min-width: 768px) {
        /*CSS For Desktop: */
        .titled {
            margin-top: 0;
            position: relative;
            text-align: center;
            background-color: #000000;
            color: #ffffff;
            font-size: 2em;
            font-family: Berlin Sans FB Demi;
            margin-bottom: 15px;
          }
      }
    </style>
  </head>
  <body>
    <div class="header col-12">
      <img src = "assets/cotoLogoHeader.png" alt = "Logo">
      <p><span id="datetime"></span></p>
    </div>
    <div class="col-12 titled">
      <p> 420 System </p>
      <p> Lean Reports </p>
    </div>
    <form class="f" action="loginVer.php" method="post">
      <fieldset>
        <div class="container">
          <label class="col-12" for="name"><b>Username</b></label>
          <input class="col-12" type="text" name="name" placeholder="Enter Username" required>

          <label class="col-12" for="pass"><b>Password</b></label>
          <input class="col-12" type="password" name="pass" placeholder="Enter Password" required>
          <button type="submit" class="col-12 button desktop" href="Options.html">Log In</button>
          <button type="submit" class="col-12 button movil" href="Graficas.html">Log In</button>
          </div>
        </fieldset>
    </form>

    <%- include('footer.ejs') %>


  </body>
</html>
