<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="500">
    <title>Movil</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <!--><link rel="stylesheet" type="text/css" href="slide.css"></!-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/Responsive.css">
  </head>
  <body>
    <div class="logo col-12">
      <img src = "/assets/cotoLogoHeader.png" alt = "Logo">
    </div>
    <div class="col-12 header">
      <p> 420 System </p>
      <p> Lean Reports </p>
    </div>
    <form action="Options.html" method="post">
      <fieldset>
        <div class="container">
          <label class="col-12"for="uname"><b>Username</b></label>
          <input class="col-12" type="text" name="uname" placeholder="Enter Username" required>

          <label class="col-12"for="psw"><b>Password</b></label>
          <input class="col-12" type="password" name="psw" placeholder="Enter Password" required>
          <a class="col-12 button" href="/">Log In</a>
          </div>
        </fieldset>
    </form>

    <div class="footer col-12">
      <p>Footer</p>
    </div>

  </body>
</html>
