<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="500">
    <title>Movil</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Responsive.css">
    <style>

</style>
  </head>
  <body style="background-color: black">
    <div>
      <hr class="line">
    </div>
    <div class="title">
      <h1 style="color:white">Options</h1>
    </div>
    <div>
      <hr class="line2">
    </div>

    <div class="menubtn1">
      <a href="/summary">Test Summary</a>
    </div>
    <div class="menubtn2">
      <a href="/pareto">Pareto Failure Analysis</a>
    </div>
    <div class="menubtn">
      <a href="/charts">Graphs</a>
    </div>
    <div class="menubtn">
      <a href="/testinfo">Test Info</a>
    </div>
    <div class="logom col-12">
      <a href="/"> <img src = "/assets/cotoLogoHeader.png" alt = "Logo"></a>
    </div>
    <!-- <div class="sticky col-12">
      <ul>  
        <li><a href="#">Test Summary</a></li>
        <li><a href="#">Pareto Failure Analysis</a></li>
        <li><a href="Graficas.html">Graphs</a></li>
        <li><a href="#">Test Info</a></li>
      </ul>
    </div> -->


    <!-- <div class="footer col-12">
      <p>Footer</p>
    </div> -->

  </body>
</html>
