<style>
  /* Big screen fix */
  html {
    margin: 0 auto;
    max-width: 1920px;
    /* background-color: #d1d3d4; */
  }
  .header {
    position: relative;
  }

  @media only screen and (min-width: 600px) {
    .header img {
      top: 20px;
    }
    body div.footer {
      position: relative;
    }
  }

  body {
    margin: 0;
    font-family: "Century Gothic";
  }
  div.header {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-family: Berlin Sans FB Demi;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .title {
    position: relative;
    font-family: Berlin Sans FB Demi;
    font-size: 2em;
    text-align: center;
    color: #000000;
    padding: 0px;
  }

  .sticky {
    position: sticky;
    top: 0;
  }

  ul {
    display: none;
  }

  a {
    font-family: Berlin Sans FB Demi;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
  }

  @media only screen and (min-width: 768px) {
    div.header {
      height: 123px;
      background-color: #ffffff;
      padding: 0;
      margin: 0;
    }

    .header img {
      position: absolute;
      left: 5%;
    }

    .header p {
      display: inline-block;
      font-family: "Century Gothic";
      color: #000000;
      position: relative;
      margin-left: 50%;
      margin-top: 3%;
      font-size: 1.4em;
    }

    ul {
      display: block;
      position: relative;
      left: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #ed354e;
      border-radius: 0px;
    }

    li {
      float: left;
    }

    li {
      display: inline;
    }

    li a {
      float: left;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #f7576c;
    }

    .active {
      background-color: #d4041f;
    }

    .sticky {
      position: relative;
      padding: 0;
      margin-bottom: 20px;
    }
    .col-12 {
      width: 100%;
    }

    hr.line {
      display: none;
    }
    hr.lineg {
      display: none;
    }
    .title {
      display: none;
    }
  }

  @media only screen and (min-width: 600px) {
    div.header {
      height: 123px;
      background-color: #ffffff;
      padding: 0;
      margin: 0;
    }

    .header img {
      position: absolute;
      left: 5%;
    }
  }

  @media only screen and (max-width: 470px) {
    div.header {
      text-align: center;
      background-color: #ffffff;
      color: #ffffff;
      font-size: 1.4em;
      font-family: Berlin Sans FB Demi;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .header p {
      display: none;
    }

    .desktop {
      display: inline-block;
    }

    .movil {
      display: none;
    }
  }

  @media only screen and (max-width: 400px) {
    div.header {
      text-align: center;
      background-color: #ffffff;
      color: #ffffff;
      font-size: 1.4em;
      font-family: Berlin Sans FB Demi;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .header p {
      display: none;
    }
  }
</style>
<navbar>
  <div class="header movil">
    <a href="/">
      <img src="assets/cotoLogoHeader.png" alt="Logo" />
    </a>
    <p><span id="datetime"></span></p>
  </div>

  <div>
    <hr class="line" />
  </div>

  <div class="title">
    <!-- <h1>Graphs</h1> -->
    <h1><%=title%></h1>
  </div>

  <div>
    <hr class="lineg" />
  </div>

  <div class="sticky col-12">
    <ul>
      <li>
        <a href="#" onclick="window.location='summary'+window.location.search;"
          >Test Summary</a
        >
      </li>
      <li>
        <a href="#" onclick="window.location='pareto'+window.location.search;"
          >Pareto Failure Analysis</a
        >
      </li>
      <li>
        <a href="#" onclick="window.location='chartsjs'+window.location.search;"
          >Graphs</a
        >
      </li>
      <li>
        <a href="#" onclick="window.location='testinfo'+window.location.search;"
          >Test Info</a
        >
      </li>
      <li style="float: right;">
        <a href="/logout">LOG OUT</a>
      </li>
    </ul>
  </div>
</navbar>
