<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Title>Test Summary</Title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/summary.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap"
      rel="stylesheet"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <script src="js/DateTime.js"></script> -->
  </head>

  <body onload="startTime()">
    <!-- <body id="testDiv"> -->
    <%- include(navbar) %>
    <!-- <h1> Test Summary</h1> -->
    <!-- <button id="printpagebutton" type="button" onclick="javascript:genPDF()" style="width: 150px; height: 60px;">Download PDF</button> -->

    <div id="testDiv">
      <div id="container-testinfo">
        <div class="column">
          <p>COTO SYSTEM 420</p>
          <p>PN: <span id="hd1">.</span></p>
          <p>APPL: <span id="hd2">.</span></p>
          <p>REV#: <span id="hd3">.</span></p>
        </div>

        <div class="column">
          <p>Normal Production Test</p>
          <p>PLT: <span id="hd4">.</span></p>
          <p>LOT: <span id="hd5">.</span></p>
          <p>DC: <span id="hd6">.</span></p>
        </div>

        <div class="column">
          <p>COTO Technology</p>
          <p>FILENAME: <span id="hd7">.</span></p>
          <p>TEST DATE: <span id="hd8">.</span></p>
          <p>START TIME: <span id="hd9">.</span></p>
        </div>
      </div>

      <div class="newtitle">
        <h1 style="text-align: center">Test Summary</h1>
      </div>
      <div>
        <hr class="line2" />
      </div>
      <div class="wrapper">
        <div>
          <h2>SYSTEM 420</h2>
          <div id="bloque1" class="agrupado">
            <div id="row1" class="row">
              <div class="parameter">Relays tested</div>
              <div class="dots"></div>
              <div id="v1" class="value">A</div>
            </div>

            <div class="row">
              <div class="parameter">Relays passed</div>
              <div class="dots"></div>
              <div id="v2" class="value">.</div>
            </div>

            <div class="row">
              <div class="parameter">Relays failed</div>
              <div class="dots"></div>
              <div id="v3" class="value">.</div>
            </div>

            <div class="row">
              <div class="parameter">Yield</div>
              <div class="dots"></div>
              <div id="v4" class="value">.</div>
            </div>
          </div>
        </div>

        <div>
          <h2>NON 420</h2>
          <div id="bloque5" class="agrupado">
            <div class="row">
              <div class="parameter">Non 420 rejects</div>
              <div class="dots"></div>
              <div id="v14" class="value">.</div>
            </div>
          </div>
        </div>

        <div>
          <h2>FINAL YIELD</h2>
          <div id="bloque2" class="agrupado">
            <div class="row">
              <div class="parameter">Total quantity</div>
              <div class="dots"></div>
              <div id="v5" class="value">.</div>
            </div>
            <div class="row">
              <div class="parameter">Reject quantity</div>
              <div class="dots"></div>
              <div id="v6" class="value">.</div>
            </div>
            <div class="row">
              <div class="parameter">Final yield</div>
              <div class="dots"></div>
              <div id="v7" class="value">.</div>
            </div>
          </div>
        </div>

        <div>
          <h2>ISSUE YIELD</h2>
          <div id="bloque3" class="agrupado">
            <div class="row">
              <div class="parameter">Issue quantity</div>
              <div class="dots"></div>
              <div id="v8" class="value">.</div>
            </div>

            <div class="row">
              <div class="parameter">Issue yield</div>
              <div class="dots"></div>
              <div id="v9" class="value">.</div>
            </div>
          </div>
        </div>

        <div>
          <h2>TIME</h2>
          <div id="bloque4" class="agrupado">
            <div class="row">
              <div class="parameter">Elapsed time</div>
              <div class="dots"></div>
              <div id="v10" class="value">.</div>
            </div>

            <div class="row">
              <div class="parameter">Idle time</div>
              <div class="dots"></div>
              <div id="v15" class="value">.</div>
            </div>

            <div class="row">
              <div class="parameter">Test time</div>
              <div class="dots"></div>
              <div id="v11" class="value">.</div>
            </div>
          </div>
        </div>

        <div>
          <h2>RATE</h2>
          <div id="bloque6" class="agrupado">
            <div class="row">
              <div class="parameter">Actual rate (RPH)</div>
              <div class="dots"></div>
              <div id="v12" class="value">.</div>
            </div>

            <div class="row">
              <div class="parameter">Avg. test rate (RPH)</div>
              <div class="dots"></div>
              <div id="v13" class="value">.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include(footer) %>

    <script src=" /js/summary.js"></script>
  </body>
</html>
