body{
	max-width: 100%;
}

/* Utilities */
.disappear-md{
	display: block!important;
}
@media (max-width: 764px){
	.disappear-md{
			display: none!important;
	}
}
.border-bottom {
	border-bottom: 1px solid #dee2e6!important;
}
.border-2 {
	border-width: 2px !important;
}
.border-gray {
	border-color:#aeb0af !important;
}
.bg-gray-1{
	background-color: #f0ecec;
}
.p-0{
	padding: 0!important;
}
.mt-2{
	margin-top: 1rem;
}
.d-inline-block{
	display: inline-block
}
.w-75{
	width: 75%;
}

/* Special Classes */
.titlex {
	position: relative;
	font-family: Berlin Sans FB Demi;
	font-size: 2em;
	text-align: center;
	color: #000000;
	padding: 0px;
} 

/* Corrections */
label {
	color: #000000;
	font-size: 1.1rem;
	/* font-size: 3rem; */
}
.select-wrapper {
	margin-bottom: 1.5rem;
}