/*General Aspects*/
html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  margin: 0;
  font-family: "Century Gothic";
}

/*Logos and Images*/

img {
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.logom {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  height: auto;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #ffffff;
  padding: 15px;
  margin: 0;
}

/*Headers and Footers*/

div.header {
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  font-family: Berlin Sans FB Demi;
  margin-bottom: 20px;
  margin-top: 20px;
}

hr.line {
  position: relative;
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #aeb0af;
}

hr.line2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 80px;
  border-top: 5px solid #aeb0af;
}

hr.lineg {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  border-top: 5px solid #aeb0af;
}

.title {
  position: relative;
  font-family: Berlin Sans FB Demi;
  font-size: 2em;
  text-align: center;
  color: #000000;
  padding: 0px;
}

/*Selector*/

.buttons {
  border-radius: 0.3em;
  background-color: #ed354e;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 50px 0 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.dropdown {
  position: relative;
  display: block;
  margin-top: 0.5em;
  padding: 0;
}

.dropdown select {
  width: 100%;
  margin: 0;
  background: none;
  border: 1px solid #ed354e;
  outline: none;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* Magic font size number to prevent iOS text zoom */
  font-size: 1em;
  color: white;
  line-height: 1.3;
}

.dropdown select {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande",
    "Trebuchet Ms", sans-serif;
}

.dropdown::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 8px;
  top: 50%;
  right: 1em;
  margin-top: -4px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E")
    0 0 no-repeat;
  pointer-events: none;
}

.dropdown:hover {
  border: 1px solid #888;
}

select:focus {
  outline: none;
  box-shadow: 0 0 1px 3px rgba(180, 222, 250, 1);
  background-color: transparent;
  color: #222;
  border: 1px solid #aaa;
}

option {
  font-weight: normal;
}

/*Charts*/

/* CSS for SmartPhones: */

@media only screen and (max-width: 400px) {
  div.header {
    text-align: center;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 1.4em;
    font-family: Berlin Sans FB Demi;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .header p {
    display: none;
  }
  div.footer {
    background-color: #ed354e;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 12px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
  }
  [class*="menu"] {
    font-size: 0.8em;
  }
  h1 {
    font-size: 0.6em;
  }
  hr.line2 {
    margin-bottom: 40px;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .menubtn1 {
    font-size: 1em;
    display: inline-block;
    position: relative;
    float: left;
    width: 35%;
    height: 85px;
    margin-bottom: 30px;
    margin-left: 10%;
    background-color: #ed354e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
  }
  .menubtn2 {
    font-size: 1em;
    display: inline-block;
    position: relative;
    float: left;
    width: 35%;
    height: 85px;
    margin-bottom: 50px;
    margin-left: 10%;
    background-color: #ed354e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
  }
  .menubtn {
    font-size: 1em;
    display: inline-block;
    position: relative;
    float: left;
    width: 35%;
    height: 85px;
    margin-bottom: 15px;
    margin-left: 10%;
    background-color: #ed354e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 32px 20px;
    border-radius: 10px;
    text-align: center;
  }
  form {
    top: 40px;
    font-size: 1em;
    height: 10%;
  }
  .titled {
    margin: 0;
  }
  .button {
    font-size: 1.3em;
    margin-top: 20px;
  }
  [class*="logo"] {
    transform: scale(0.75, 0.75);
  }
  input[type="text"],
  input[type="password"] {
    padding: 8px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  [class*="grafica"] {
    width: 100%;
  }
}

@media only screen and (min-width: 470px) {
  div.header {
    text-align: center;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 1.4em;
    font-family: Berlin Sans FB Demi;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .header p {
    display: none;
  }
  div.footer {
    background-color: #ed354e;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 12px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
  }
  .titled {
    margin: 0;
    padding: 0;
  }
  .scontainer {
    display: none;
  }
  .desktop {
    display: inline-block;
  }
  .movil {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  CSS for larger tablets .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  div.header {
    height: 123px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }
  .header img {
    position: absolute;
    left: 5%;
  }
  .scontainer {
    display: none;
  }
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #34353c;
  }

  div.header {
    height: 123px;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
  }
  .header img {
    position: absolute;
    left: 5%;
  }
  .header p {
    display: inline-block;
    font-family: "Century Gothic";
    color: #000000;
    position: relative;
    margin-left: 50%;
    margin-top: 3%;
    font-size: 1.4em;
  }
  div.footer {
    background-color: #ed354e;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    margin-top: 20px;
    position: static;
    bottom: 0;
  }
  .footer p {
    font-size: 1.3em;
  }
  .COTO {
    position: absolute;
    left: 5%;
  }
  .design {
    position: relative;
    margin-left: 80%;
  }
  .logom {
    display: none;
    margin-bottom: 5px;
    height: auto;
  }
  .menubtn1 {
    display: none;
  }
  .menubtn2 {
    display: none;
  }
  .menubtn {
    display: none;
  }
  hr.line {
    display: none;
  }
  hr.line2 {
    display: none;
  }
  hr.lineg {
    display: none;
  }
  .title {
    display: none;
  }
  .titled {
    margin-top: 0;
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-family: Berlin Sans FB Demi;
    margin-bottom: 15px;
  }
  ul {
    display: block;
    position: relative;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ed354e;
    border-radius: 0px;
  }
  li {
    float: left;
  }
  li {
    display: inline;
  }
  li a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #f7576c;
  }
  .active {
    background-color: #d4041f;
  }
  .sticky {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
  }
  div.l {
    margin-left: 2.5%;
    float: left;
  }
  div.r {
    margin-right: 2.5%;
    float: right;
  }
  .buttons {
    display: none;
  }
  .scontainer {
    display: none;
  }
  .desktop {
    display: none;
  }
  .movil {
    display: block;
  }
  [class*="grafica"] {
    width: 47.5%;
  }
}

.movil {
  display: block;
}

/*Utilities*/

.center-text {
  text-align: center;
}
.w-10{
  width: 10%;
}

.bg-blue {
  background-color: blue;
}

.bg-orange {
  background-color: orange;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}
.material-icons:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.hov-blue:hover{
  color: #148494!important;
}

.d-unset {
  display: unset;
}
@media (max-width: 764px) {
  .mb-w-100{
    width: 100%!important;
  }
}

.disapear-md {
  display: unset;
}
@media (max-width: 764px) {
  .disapear-md {
    display: none;
  }
}
.pointer:hover{
  cursor: pointer;
}
.hov-red:hover{
  color: #ac0000;
}

/* Special IDs */
#setting-btn{
  color: white;
  font-size: 3rem; 
  top: 0; 
  right: -15%;
}
@media (max-width: 764px) {
  #setting-btn{
    color: #222;
    font-size: 1.5rem; 
    top: 15%; 
    right: -15%;
  }
}

/* Special Classes */
.front-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.front-window .container{
  width: 50%;
  max-height: 80%;
  z-index: 1;
}
@media (max-width: 764px) {
  .front-window .container{
    width: 95%;
    max-height: 80%;
    z-index: 1;
    overflow-y: scroll;
  }
}

.front-window .move-buttons .btn{
  display: block;
  margin-top: 1.5rem;
}
@media (max-width: 764px) {
  .front-window .move-buttons .btn{
    display: inline-block;
    margin: 0.3rem auto;
  }
}


/*Containers*/
.main-container {
  background-color: #34353c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#test-no-container {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 764px) {
  #test-no-container {
    width: 70%;

    margin-left: auto;
    margin-right: auto;
  }
}

#test-no-container label {
  color: white;
}
@media only screen and (max-width: 764px) {
  #test-no-container label {
    margin-top: 1rem;
    color: #222;
  }
}

.second-container {
  width: 95%;
  background-color: #929292;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 764px) {
  .main-container,
  .second-container {
    background-color: white;
  }
  .second-container {
    display: flex;
    flex-direction: column;
  }
}

/*Graph*/

.graph-content {
  display: grid;
  grid-template-columns: 80% 20%;
}
@media only screen and (max-width: 764px) {
  .graph-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.graph-title {
  margin: 2rem 12% 1rem auto;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
@media only screen and (max-width: 764px) {
  .graph-title {
    margin: 2rem auto 1rem auto;
  }
}

.graph-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-container p {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  padding: 0;
}

.graph-container div {
  width: 100%;
}

/*Data Legends*/
.legend-container {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: auto;
}
@media only screen and (max-width: 764px) {
  .legend-container {
    grid-template-columns: 1fr 6fr;
    width: 50%;
    margin: 1.5em auto;
  }
}

.legend-container p {
  margin: auto;
  font-size: 0.8rem;
  margin: auto 0;
}

.little-box {
  margin: 5px 1rem auto 0;
  border: black 1px solid;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
}

.float {
  position: fixed;
  padding: 10px 20px;
  height: 60px;
  bottom: 4%;
  right: 10%;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  text-align: center;
}
@media only screen and (max-width: 764px) {
  .float {
    right: 3%;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    font-size: 200%;
  }
}
.float p {
  display: block;
  margin: 0;
  
}
@media only screen and (max-width: 764px) {
  .float p {
    display: none;
  }
}
.float i {
  display: none;
}
@media only screen and (max-width: 764px) {
  .float i {
    display: block;
  }
  .buttons.dropdown {
    margin-left: auto;
    margin-right: auto;
  }
}

/*Corrections*/
.form-check-label{
  font-size: large;
}