/*IDK*/


/* Default CSS for tablets */


/*General Aspects*/

* {
    box-sizing: border-box;
    font-size: 1em;
}

.titled {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 2em;
    font-family: Berlin Sans FB Demi;
    margin-bottom: 15px;
    margin-top: 15px
}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    margin: 0;
    font-family: "Century Gothic";
}


/*Viewport and Responsive*/

.row::after {
    content: "";
    clear: both;
    display: block;
}


/*Login form */

form {
    position: relative;
    border: none;
    margin: 0 50px 10px;
}

.container {
    padding: 8px;
}

input[type=text],
input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #ED354E;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 50px 0 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    opacity: 0.8;
}


/*Logos and Images*/

img {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logom {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: auto;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: #ffffff;
    padding: 15px;
    margin: 0;
}


/*Headers and Footers*/

div.header {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 2em;
    font-family: Berlin Sans FB Demi;
    margin-bottom: 20px;
    margin-top: 20px
}

div.footer {
    background-color: #ED354E;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin-top: 20 px;
    position: static;
    bottom: 0;
}

div.footerr {
    background-color: #ED354E;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin-top: 50 px;
    position: static;
    bottom: 0px;
}

hr.line {
    position: relative;
    margin-top: 40px;
    margin-bottom: 0px;
    border-top: 5px solid #AEB0AF;
}

hr.line2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 80px;
    border-top: 5px solid #AEB0AF;
}

hr.lineg {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
    border-top: 5px solid #AEB0AF;
}

.title {
    position: relative;
    font-family: Berlin Sans FB Demi;
    font-size: 2em;
    text-align: center;
    color: #000000;
    padding: 0px;
}


/*Selector*/

.buttons {
    border-radius: .3em;
    background-color: #ED354E;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 50px 0 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.dropdown {
    position: relative;
    display: block;
    margin-top: 0.5em;
    padding: 0;
}

.dropdown select {
    width: 100%;
    margin: 0;
    background: none;
    border: 1px solid #ED354E;
    outline: none;
    box-sizing: border-box;
    /* Remove select styling */
    appearance: none;
    -webkit-appearance: none;
    /* Magic font size number to prevent iOS text zoom */
    font-size: 1.25em;
    color: white;
    padding: .6em 1.9em .5em .8em;
    line-height: 1.3;
}

.dropdown select {
    font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
}

.dropdown::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 8px;
    top: 50%;
    right: 1em;
    margin-top: -4px;
    z-index: 2;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;
    pointer-events: none;
}

.dropdown:hover {
    border: 1px solid #888;
}

select:focus {
    outline: none;
    box-shadow: 0 0 1px 3px rgba(180, 222, 250, 1);
    background-color: transparent;
    color: #222;
    border: 1px solid #aaa;
}

option {
    font-weight: normal;
}


/*Menus and Buttons*/

.menubtn1 {
    display: inline-block;
    position: relative;
    float: left;
    width: 35%;
    margin-bottom: 30px;
    margin-left: 10%;
    background-color: #ED354E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 35px 20px;
    border-radius: 10px;
    text-align: center;
}

.menubtn2 {
    display: inline-block;
    position: relative;
    float: left;
    width: 35%;
    margin-bottom: 50px;
    margin-left: 10%;
    background-color: #ED354E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
}

.menubtn {
    display: inline-block;
    position: relative;
    float: left;
    width: 35%;
    margin-bottom: 40px;
    margin-left: 10%;
    background-color: #ED354E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 50px 20px;
    border-radius: 10px;
    text-align: center;
}

[class*="menu"]:hover {
    opacity: 0.8;
}

a {
    font-family: Berlin Sans FB Demi;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
}

ul {
    display: none;
}


/*Charts*/

[class*="grafica"] {
    width: 95%;
    margin: 0;
    visibility: hidden;
}

@media only screen and (max-width: 470px) {
    div.header {
        text-align: center;
        background-color: #ffffff;
        color: #ffffff;
        font-size: 1.4em;
        font-family: Berlin Sans FB Demi;
        margin-bottom: 5px;
        margin-top: 5px
    }
    .header p {
        display: none;
    }
    form {
        top: 0px;
        font-size: 1em;
        height: 10%;
    }
    .scontainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 195px;
        border: 3px solid gray;
    }
    [class*="results"] {
        position: absolute;
        width: 150px;
        height: 25px;
        /*border: 3px solid #73AD21;*/
    }
    .results1 {
        top: 18px;
        left: 52px;
    }
    .results2 {
        top: 63px;
        left: 52px;
    }
    .results3 {
        top: 108px;
        left: 52px;
    }
    .results4 {
        top: 153px;
        left: 52px;
    }
    /*Others*/
    [class*="square"] {
        position: absolute;
        width: 25px;
        height: 25px;
    }
    .square1 {
        top: 15px;
        left: 15px;
        background: blue;
    }
    .square2 {
        top: 60px;
        left: 15px;
        background: yellow;
    }
    .square3 {
        top: 105px;
        left: 15px;
        background: green;
    }
    .square4 {
        top: 150px;
        left: 15px;
        background: red;
    }
    .desktop {
        display: inline-block;
    }
    .movil {
        display: none;
    }
}


/* CSS for SmartPhones: */

@media only screen and (max-width: 400px) {
    div.header {
        text-align: center;
        background-color: #ffffff;
        color: #ffffff;
        font-size: 1.4em;
        font-family: Berlin Sans FB Demi;
        margin-bottom: 5px;
        margin-top: 5px
    }
    .header p {
        display: none;
    }
    div.footer {
        background-color: #ED354E;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 12px;
        margin-top: 20px;
        position: fixed;
        bottom: 0;
    }
    [class*="menu"] {
        font-size: .80em;
    }
    h1 {
        font-size: .60em;
    }
    hr.line2 {
        margin-bottom: 40px
    }
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .menubtn1 {
        font-size: 1em;
        display: inline-block;
        position: relative;
        float: left;
        width: 35%;
        height: 85px;
        margin-bottom: 30px;
        margin-left: 10%;
        background-color: #ED354E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        padding: 20px 20px;
        border-radius: 10px;
        text-align: center;
    }
    .menubtn2 {
        font-size: 1em;
        display: inline-block;
        position: relative;
        float: left;
        width: 35%;
        height: 85px;
        margin-bottom: 50px;
        margin-left: 10%;
        background-color: #ED354E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 10px;
        text-align: center;
    }
    .menubtn {
        font-size: 1em;
        display: inline-block;
        position: relative;
        float: left;
        width: 35%;
        height: 85px;
        margin-bottom: 15px;
        margin-left: 10%;
        background-color: #ED354E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        padding: 32px 20px;
        border-radius: 10px;
        text-align: center;
    }
    form {
        top: 40px;
        font-size: 1em;
        height: 10%;
    }
    .titled {
        margin: 0;
    }
    .button {
        font-size: 1.3em;
        margin-top: 20px;
    }
    [class*="logo"] {
        transform: scale(.75, .75);
    }
    input[type=text],
    input[type=password] {
        padding: 8px 20px;
        margin: 2px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    [class*="grafica"] {
        width: 100%;
    }
}

@media only screen and (min-width: 470px) {
    div.header {
        text-align: center;
        background-color: #ffffff;
        color: #ffffff;
        font-size: 1.4em;
        font-family: Berlin Sans FB Demi;
        margin-bottom: 5px;
        margin-top: 5px
    }
    .header p {
        display: none;
    }
    form {
        top: 10px;
        font-size: 1em;
        height: 10%;
    }
    div.footer {
        background-color: #ED354E;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 12px;
        margin-top: 20px;
        position: fixed;
        bottom: 0;
    }
    .titled {
        margin: 0;
        padding: 0;
    }
    .scontainer {
        display: none;
    }
    .desktop {
        display: inline-block;
    }
    .movil {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    CSS for larger tablets .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    div.header {
        height: 123px;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }
    .header img {
        position: absolute;
        left: 5%;
    }
    form {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .scontainer {
        display: none;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    /* CSS For Desktop:  */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    body {
        background-color: #34353C;
    }
    form {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    fieldset {
        background-color: #929292;
    }
    div.header {
        height: 123px;
        background-color: #ffffff;
        padding: 0;
        margin: 0;
    }
    .header img {
        position: absolute;
        left: 5%;
    }
    .header p {
        display: inline-block;
        font-family: "Century Gothic";
        color: #000000;
        position: relative;
        margin-left: 50%;
        margin-top: 3%;
        font-size: 1.4em;
    }
    div.footer {
        background-color: #ED354E;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 20px;
        margin-top: 20px;
        position: static;
        bottom: 0;
    }
    .footer p {
        font-size: 1.3em;
    }
    .COTO {
        position: absolute;
        left: 5%;
    }
    .design {
        position: relative;
        margin-left: 80%;
    }
    .logom {
        display: none;
        margin-bottom: 5px;
        height: auto;
    }
    .menubtn1 {
        display: none;
    }
    .menubtn2 {
        display: none;
    }
    .menubtn {
        display: none;
    }
    hr.line {
        display: none;
    }
    hr.line2 {
        display: none;
    }
    hr.lineg {
        display: none;
    }
    .title {
        display: none;
    }
    .titled {
        margin-top: 0;
        position: relative;
        text-align: center;
        background-color: #000000;
        color: #ffffff;
        font-size: 2em;
        font-family: Berlin Sans FB Demi;
        margin-bottom: 15px;
    }
    ul {
        display: block;
        position: relative;
        left: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ED354E;
        border-radius: 0px;
    }
    li {
        float: left;
    }
    li {
        display: inline;
    }
    li a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover:not(.active) {
        background-color: #f7576c;
    }
    .active {
        background-color: #d4041f;
    }
    .sticky {
        position: relative;
        padding: 0;
        margin-bottom: 20px;
    }
    div.l {
        margin-left: 2.5%;
        float: left;
    }
    div.r {
        margin-right: 2.5%;
        float: right;
    }
    .buttons {
        display: none;
    }
    .scontainer {
        display: none;
    }
    .desktop {
        display: none;
    }
    .movil {
        display: block;
    }
    [class*="grafica"] {
        width: 47.5%;
    }
}

.movil {
    display: block;
}

[class*="grafica"] {
    width: 47.5%;
}

.movil {
    display: block;
}

[class*="grafica"] {
    width: 47.5%;
}


/*Utilities*/

.center-text {
    text-align: center;
}

.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}


/*Containers*/

.main-container {
    background-color: #34353c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-container {
    width: 95%;
    background-color: #929292;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*Graph*/

.graph-content {
    display: grid;
    grid-template-columns: 4% 75% 15%;
}

.graph-title {
    margin: 2rem auto 1rem auto;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.y-legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.y-legend p {
    margin: 0;
}

.graph-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph-container p {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    padding: 0;
}

.graph-container div {
    width: 100%;
}

.graphdata-container {
    display: grid;
    grid-template-columns: 1;
}


/*Data Legends*/

.legend-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.legend-container div {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
}

.legend-container div p {
    margin: auto;
    font-size: 0.8rem;
}

.little-box {
    margin: 5px 1rem auto 0;
    border: black 1px solid;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
}


/*Resposive*/

@media only screen and (max-width: 690px) {
    .main-container,
    .second-container {
        background-color: white;
    }
    #OV-main-container,
    #RV-main-container,
    #SCR-main-container,
    #OT-main-container,
    #RT-main-container {
        display: none;
    }
    .second-container {
        display: flex;
        flex-direction: column;
    }
    .graph-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .legend-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 1rem auto 3rem auto;
        width: 50%;
    }
    .legend-container div p {
        margin: auto 0 auto 1rem;
    }
    .buttons.dropdown {
        margin-left: auto;
        margin-right: auto;
    }
}