

/* up border */
hr.line {
    position: relative;
    margin-top: 40px;
    margin-bottom: 0px;
    border-top: 5px solid #AEB0AF;
}
/* div title */
.title {
    position: relative;
    font-family: Berlin Sans FB Demi;
    font-size: 2em;
    text-align: center;
    color: #000000;
    padding: 0px;
}
/* down border */
hr.lineg {
    position: relative;
    border-top: 5px solid #AEB0AF;
}

@media only screen and (min-width: 768px){
    .title{
        display: none;
    }
}
@media screen and (max-width: 768px){
    div.header{
        display: none;
    }
}

@media screen and (max-width: 400px) {
    div.title h1 {
        font-size: .60em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
