#main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.column{
    width: 30%;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .column{
        width: 100%;
    }
   
}

#test-no-container{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 764px) {
    #test-no-container{
        width: 70%;

        margin-left: auto;
        margin-right: auto;
    }
}

#test-no-container label{
    color: #222;
}

