#main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.column{
    width: 30%;
    text-align: center;
}
@media screen and (max-width: 480px) {
    .column{
        width: 100%;
    }
   
}

